@model IEnumerable<NominaMVC.Models.Pago>
@{
    ViewData["Title"] = "ReporteA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Reportes para admin</h2>
<div class="bg-light">
    <div class="mt-2 container">
        <div class="container-fluid">
            <!--STATS CARD CONTAINER-->
            <div class="row mt-3">
                <!--PAYMENTS STATS CARD 1-->
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">
                                        <i class="bi bi-person-fill"></i>
                                        Pagos procesados
                                    </h5>
                                    <span class="h2 font-weight-bold mb-0">@Model.Count().ToString()</span>
                                    <!--Pagos count-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--INCOME STATEMENT STATS CARD 1-->
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">
                                        <i class="bi bi-person-fill"></i>
                                        Declarantes de Renta
                                    </h5>
                                    <!--TODO: COUNT ONLY INCOME FILLERS *-->
                                    <span class="h2 font-weight-bold mb-0">@Model.Count().ToString()</span>
                                    <!--Pagos count-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--WORK HOURS STATS CARD 2-->
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">
                                        <i class="bi bi-clock-history"></i>
                                        Horas laborales
                                    </h5>
                                    <span class="h2 font-weight-bold mb-0">40h/semanal</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--TOTAL PAYMENTS STATS CARD 3-->
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">
                                        <i class="bi bi-cash-coin"></i>
                                        Total pagado
                                    </h5>
                                    @*<span class="h2 font-weight-bold mb-0">@Model.Sum(payment => payment.MontoPago)</span>*@
                                    <span class="h2 font-weight-bold mb-0">@ViewData["TotalPayments"] </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAYMENTS INFO-->
        <div class="row mt-3">
            <div class="col-12">            
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>ID Empleado</th>
                            <th>Nombre</th>
                            <th>Monto</th>
                            <th></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                    @foreach(var item in Model)
                    {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.oPersona.IdPersona)</td>
                        <td>@Html.DisplayFor(modelItem => item.oPersona.Nombre)</td>
                        <td>$ @Html.DisplayFor(modelItem => item.MontoPago)
                                @if (item.MontoPago * 12 > 50000000)
                                {
                                    <span class="badge rent-badge">Declara renta</span>
                                }
                                @if(item.MontoPago < 50000000)
                                {
                                    <span class="badge rent-badge">NO Declara renta</span>
                                }
                                    
                        </td>
                        <td>                        
                            <a asp-action="Details" asp-controller="Pagos">
                                Historial
                                <i class="bi bi-file-earmark-text"></i>
                            </a>
                        </td>
                    </tr>
                    }
                    </tbody>     
                </table>
            </div>
        </div>
    </div>
</div>

