@model IEnumerable<NominaMVC.Models.Pago>

@{
    ViewData["Title"] = "Index";
}

&nbsp;
<h2 class="text-center">Pagos</h2>

<p>
    <a asp-action="Create" class="btn btn-success" >Realizar pago</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPersona)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersona)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-outline-warning" asp-route-id="@item.IdPago">Edit</a> |
                <a asp-action="Details"  class="btn btn-outline-info" asp-route-id="@item.IdPago">Details</a> |
                <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.IdPago">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
